body {
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding-top: 100px;
}

.caixa {
  background: white;
  width: 300px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #5D3FD3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #4C2BB0;
}

#resultado {
  margin-top: 20px;
  font-size: 18px;
  color: #5D3FD3;
  font-weight: bold;
}

#produto {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
